{{> head }}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Primera columna</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni totam voluptas fugiat id praesentium corporis maiores atque illo, adipisci autem nostrum, natus minima vero similique cupiditate impedit cumque. Perspiciatis, accusamus.</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/Data gateway.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}